<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.danny.attendancemanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AboutActivity"></activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".TeacherLogin" />
        <activity android:name=".StudentLogin" />
        <activity android:name=".TeacherActivity" />
        <activity android:name=".AddStudentActivity" />
        <activity android:name=".SubjectList" />
        <activity android:name=".AttendanceActivity" />
        <activity android:name=".StudentInformationActivity" />
        <activity android:name=".SelectRollNo" />
    </application>

</manifest>